@import "tailwindcss";

@theme {

  /* container width */
  --width-container: 1920px;

  /* background color */
  --color-primary: #CFF7D3;
  --color-primary-dark: #AFF4C6;
  --color-secondary: #C3EF35;


  /* button,border & footer color */
  --color-btn-primary: #14AE5C;
  --color-footer-bg: #14AE5C;

  /* font family */
  --font-sans: 'Poppins', sans-serif;
  --font-heading: 'Plus Jakarta Sans', sans-serif;
  /*alternate of Sofia Pro*/
  --font-stats: 'Protest Riot', sans-serif;

}

@layer {

  .container-main {
    @apply max-w-container;
  }

  .heading {
    @apply font-semibold text-lg md:text-2xl lg:text-3xl;
  }
}

body {
  font-family: var(--font-sans);
}
